<!DOCTYPE html>
<html>
  <head>
    {% include 'bootstrap.html' %}
    {% include 'sitelogo.html' %}
    <title>Inspire Career</title>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      <h1 class="text-center m-3">InspireLab Career</h1>
      {% include 'banner.html' %}
        <h2 class="text-center">About InspireLab</h2>
      <div class="row">
        <div class="col-8">
        <p class="lead">InspireLab is a career platform that connect tech talensts to opportunities around the world. We analyze clients needs and tech talent's ambition, aspiration and purpose to connect the right talent to a client. We have helped a lot of businesses and tech talents to expand and grow through our platform. All of the talents we have connected to employers have been satsisfied with their job and emplyers have been satisfied as well.</p>
        </div>
        <div class="d-none d-md-block col-md-4">
          <img src="static/workplace.jpg" height="220px" />
        </div>
      </div>
        <h2 class="text-center">Open Positions</h2>
        <div>
          {% for job in jobs %}
           {% include 'jobitems.html' %}
          {% endfor %}
        </div>
        <div class="text-center">
          <a href="mailto:engr.omokehinde@gmail.com?subject=My Question" class="btn btn-primary btn-lg">Contact Us</a>
        </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>