<!DOCTYPE html>
<html>
  <head>
    <title>{{ job['title'] }} - Inspire Career</title>
    {% include 'bootstrap.html' %}
    {% include 'sitelogo.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      <h1 class="text-center m-3">Inspire Career</h1>
      {% include 'banner.html' %}
      <h3>{{ job['title'] }}</h3>
      <p class="lead">{{ job['location'] }}</p>
      <h4>Responsibilities</h4>
      <ul>
        {% for line in job['responsibilities'].split("\n") %}
        <li>{{ line }}</li>
        {% endfor %}
      </ul
      <h4>Requirements</h4>
      <ol>
        {% for line in job['requirements'].split("\n") %}
        <li>{{ line }}</li>
        {% endfor %}
      </ol>
      <h4>Salary</h4>
      <p>{{ job['currency'] }}{{ job['salary'] }}</p>
      {% include 'applicationForm.html' %}
    </div>
  
    {% include 'footer.html' %}
  </body>
</html>